@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial;
  margin: 0;
    /* background: #c36df5; */
    background:linear-gradient(96deg, rgb(252, 169, 252),rgb(247, 121, 247),rgb(245, 57, 245));
}

.home {
  text-align: center;
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid div{
/* display: flex; */
}
.grid img{
  width: 350px;
  height: 250px;
  justify-content: center;
margin: auto;
}
.grid button{
  width: 250px;
}
button {
  padding: 10px 20px;
  border: none;
  background: #b01beb;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #c167f5;
}

.quiz {
  text-align: center;
  padding: 40px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

.result {
  text-align: center;
}

.interview{
font-size: 40px;
margin-bottom: 30px;
font-family: a;
}
.language{
font-size: 20px;
margin-bottom: 50px;
}
.question{
margin: 20px;
color: red;
font-weight: bolder;
font-size: 40px;

}
.score{
  font-size: 30px;
  font-width: 400;
}
.result button{
  margin: 20px;
}
.result h2{
    font-size: 30px;
  font-width: 400;
}
/* .main{
  width: 40%;
  margin: auto;
background: white;
margin-top: 30px;
} */
